<!-- ----------- popup 1 ------------- -->

<div class="action-popup">
<h3>36 years</h3>
<i class="fas fa-check"></i>
<p>Your age has been verified</p>
</div>


<!-- ----------- popup 2 ------------- -->

<!-- <div class="action-popup-two">
    <h3>Dispensing…</h3>
    <img src="../../../assets/media/unnamed.gif">
    <p>Please wait while the kiosk dispenses your products</p>
</div> -->


<!-- ----------- popup 3 ------------- -->

<!-- <div class="action-popup-three">
<h3>16 years</h3>
<i class="far fa-times"></i>
<p>You must be at least 21 years old to buy this product</p>
</div> -->


<!-- ----------- popup 4 ------------- -->

<!-- <div class="action-popup-three">
<i class="far fa-times"></i>
<p>We could not confirm you’re over the required age. Please approach our staff for further checks </p>
</div> -->


<!-- ----------- popup 5 ------------- -->

<!-- <div class="action-popup-three">
<h3>22 years</h3>
<img src="../../../assets/media/unnamed2.png">
<p>Please scan your ID on the document scanner to confirm your age</p>
</div> -->



<!-- ----------- popup 6 ------------- -->

<!-- <div class="action-popup">
<h3>Verified</h3>
<i class="fas fa-check"></i>
<p>Your ID has been verified</p>
</div> -->


<!-- ----------- popup 7 ------------- -->

<!-- <div class="action-popup-two">
    <h3>Dispensing…</h3>
    <img src="../../../assets/media/unnamed.gif">
    <p>Please wait while the kiosk dispenses your products</p>
</div> -->