


        <section class="products sec-mar prod-list-slider" id="best">
            <div class="container">


                <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig2">
                    <div ngxSlickItem class="slide">
                        <div class="product-slider">
                            <div class="product-grid product">
                                <div class="img-box img-hover-zoom">
                                    <img alt="" src="./assets/media/products/460x486.png">                                    
                                </div>
                                <div class="content">
                                    <h3 class="title"><a href="product-detail.html">Ultimate Smok Poo</a> </h3>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta at nihil, commodi quis dolore ad.</p>
                                </div>
                                <ul class="action-btns">
                                    <li class="price"><a href="product-detail.html">$25</a></li>
                                    <li class="cart-btn"><a href="cart.html"><i class="fal fa-shopping-cart"></i><br> Add to cart</a></li>
                                    <li class="reviews"><a href="product-detail.html"><i class="fa fa-star"></i> 5</a></li>
                                </ul>
                            </div>                    
                        </div>
                    </div>

                    <div ngxSlickItem class="slide">
                        <div class="product-slider">
                            <div class="product-grid product">
                                <div class="img-box img-hover-zoom">
                                    <img alt="" src="./assets/media/products/460x486.png">                                    
                                </div>
                                <div class="content">
                                    <h3 class="title"><a href="product-detail.html">Ultimate Smok Poo</a> </h3>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta at nihil, commodi quis dolore ad.</p>
                                </div>
                                <ul class="action-btns">
                                    <li class="price"><a href="product-detail.html">$25</a></li>
                                    <li class="cart-btn"><a href="cart.html"><i class="fal fa-shopping-cart"></i><br> Add to cart</a></li>
                                    <li class="reviews"><a href="product-detail.html"><i class="fa fa-star"></i> 5</a></li>
                                </ul>
                            </div>                    
                        </div>
                     </div>


                     <div ngxSlickItem class="slide">
                        <div class="product-slider">
                            <div class="product-grid product">
                                <div class="img-box img-hover-zoom">
                                    <img alt="" src="./assets/media/products/460x486.png">                                   
                                </div>
                                <div class="content">
                                    <h3 class="title"><a href="product-detail.html">Ultimate Smok Poo</a> </h3>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta at nihil, commodi quis dolore ad.</p>
                                </div>
                                <ul class="action-btns">
                                    <li class="price"><a href="product-detail.html">$25</a></li>
                                    <li class="cart-btn"><a href="cart.html"><i class="fal fa-shopping-cart"></i><br> Add to cart</a></li>
                                    <li class="reviews"><a href="product-detail.html"><i class="fa fa-star"></i> 5</a></li>
                                </ul>
                            </div>                    
                        </div>
                     </div>


                     <div ngxSlickItem class="slide">
                        <div class="product-slider">
                            <div class="product-grid product">
                                <div class="img-box img-hover-zoom">
                                    <img alt="" src="./assets/media/products/460x486.png">                                   
                                </div>
                                <div class="content">                                   
                                    <h3 class="title"><a href="product-detail.html">Ultimate Smok Poo</a> </h3>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta at nihil, commodi quis dolore ad.</p>
                                </div>
                                <ul class="action-btns">
                                    <li class="price"><a href="product-detail.html">$25</a></li>
                                    <li class="cart-btn"><a href="cart.html"><i class="fal fa-shopping-cart"></i><br> Add to cart</a></li>                                   
                                    <li class="reviews"><a href="product-detail.html"><i class="fa fa-star"></i> 5</a></li>
                                </ul>
                            </div>                    
                        </div>
                     </div>

                </ngx-slick-carousel>
                <div class="overlay">
                    <a routerLink="/cart-list" class="cus-btn btn-primary d-block mt-50">View Detail</a>
                </div>
                
            </div>
        </section>











<!-- <button routerLink="/cart-list">Go to Cart</button> -->
