<header class="header">
    <div class="container">
        <!-- Start Main menu Nav -->
        <nav class="navbar justify-content-center py-5">
            <a class="navbar-brand"><img routerLink="/home" alt="" src="../../../assets/media/Logo.png"></a>
            <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <i class="fas fa-bars"></i>
            </button> -->
            <div class="collapse d-block pl-5" id="mynavbar">
                <ul class="navbar-nav ms-auto mainmenu">
                    <li class="menu-item-has-children">
                        <a href="cart.html"><span class="items-count">2</span> <i class="fal fa-shopping-cart"></i></a>
                        <ul class="mafia-submenu cart-items">
                            <li>
                                <img alt="" src="../../../assets/media/products/100x101.png">
                                <div class="item-detail">
                                    <h6><a href="../../../product-detail.html">Smok Nord Kit 2 Kit</a>
                                    </h6>
                                    <p>$15</p>
                                    <input type="text" name="qty" value="1"> &nbsp; <button type="button"
                                        class="btn rm-btn btn-primary btn-xs"><i class="fal fa-trash"></i></button>
                                </div>
                            </li>
                            <li>
                                <img alt="" src="../../../assets/media/products/100x101.png">
                                <div class="item-detail">
                                    <h6><a href="./product-detail.html">Smok Trinity Alpha</a>
                                    </h6>
                                    <p>$30</p>
                                    <input type="text" name="qty" value="1"> &nbsp; <button type="button"
                                        class="btn rm-btn btn-primary btn-xs"><i class="fal fa-trash"></i></button>
                                </div>
                            </li>
                        </ul>
                    </li>                   
                </ul>
            </div>
        </nav>
        <!-- End Main menu Nav -->
    </div>
</header>