::ng-deep .verification_popup {
  .mdc-dialog__container {
    min-height: 400px;
    min-width: 500px;
    max-width: 500px;
    @media (max-width: 600px) {
      min-height: 100%;
      min-width: 100%;
      max-width: 100%;
    }
    .mdc-dialog__surface {
      padding: 0px;
    }
  }

 
    .icon_design {
      img{
        width: 40%;
      }
    }


  // .popup_container {
  //   text-align: center;
  //   .icon_design {
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     height: 130px;
  //     width: 130px;
  //     border-radius: 50%;
  //     box-shadow: 0px 0px 8px #9a9a9a;
  //     margin: 0px auto 0 auto;
  //     .mat-icon {
  //       border-radius: 50%;
  //       height: 110px;
  //       width: 110px;
  //       display: flex;
  //       align-items: center;
  //       justify-content: center;
  //       color: #fff;
  //       font-size: 70px;
  //       &.success {
  //         background-color: #72c04e;
  //       }
  //       &.warning {
  //         background-color: #f9c83f;
  //       }
  //       &.wrong {
  //         background-color: #f93621;
  //       }
  //     }
  //   }
  //   .verify_age {
  //     h4 {
  //       margin: 20px 0 10px;
  //       font-size: 40px;
  //     }
  //     p {
  //       font-size: 22px;
  //       margin-bottom: 20px;
  //       max-width: 500px;
  //     }
  //     a {
  //       padding: 10px 60px;
  //       margin-top: 40px;
  //     }
  //   }
  // }
  .verify_popup {
    text-align: center;
    .verify_age {
    //   h4 {
    //     margin: 20px 0 10px;
    //     font-size: 40px;
    //   }
      p {
        font-size: 22px;
        margin-bottom: 20px;
        max-width: 500px;
        color: #000;
        line-height: 26px;
      }
    //   a {
    //     padding: 10px 60px;
    //     margin-top: 40px;
    //   }
    }
    .btn_popup {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 40px;
      @media (max-width: 600px) {
        flex-direction: column;
      }
      a {
        padding: 10px 60px;
        justify-content: center;
        @media (max-width: 600px) {
          width: 100%;
          margin-bottom: 14px;
        }
        // margin-top: 40px;
      }
    }

    .verifyage-btn{
      margin-bottom: 30px;
    }

  }
}
