/* You can add global styles to this file, and also import other style files */


@use "@angular/material" as mat;
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import url('../node_modules/@getyoti/react-face-capture/index.css');

.set-icon-size {
  i {
    font-size: 70px;
  }
}

// #main-wrapper{
//     max-width: 1080px;
//     margin: auto;
//     width:100%;
// }
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


.m-header{
  background: var(--color-sec);
  text-align: center;
  h5{
      color: #fff;
      font-size: 30px;
      padding: 12px;
      margin-bottom: 0px;
  }
}

.verifyage-footer{
  background: #f2f2f2;
  padding: 20px;
  table{
    margin: 0px;
    tr{
      td{
        text-align: center;
        i{
          font-size: 35px;
          color: var(--color-dark);
        }
        h6{          
          color: var(--color-dark);
          margin-top: 15px;
          font-size: 19px;
          margin-top: 0px;
        }
      }
    }
  }
}



.action-popup{
  text-align: center;
  background-color: var(--color-green);
  margin: 15px;
  border-radius: 2px;
  padding: 10px;
  color: var(--color-white);
  
  h3{
    color: var(--color-white);
    margin: 1px;
  }
  i{
    font-size: 90px;
    color: var(--color-white);
  }

  p{
    width: 170px;
    margin: 2px 0px;
    line-height: 20px;
  }
}


.action-popup-two{
  text-align: center;
  border-radius: 2px;
  padding: 10px;
  color: var(--color-dark);
  
  h3{
    color: var(--color-primary);
    margin: 1px;
  }
 
  img{
    width: 195px;
    margin: 15px 0px;
  }

  p{
    width: 230px;
    margin: 2px 0px;
    line-height: 20px;
    color: var(--color-dark);
  }
}



.action-popup-three{
  text-align: center;
  background-color: var(--color-pink);
  margin: 15px;
  border-radius: 2px;
  padding: 10px;
  color: var(--color-white);
  
  h3{
    color: var(--color-white);
    margin: 1px;
  }
  i{
    font-size: 90px;
    color: var(--color-white);
  }

  img{
    width: 100px;
    margin: 15px 0px;
  }

  p{
    width: 170px;
    margin: 2px 0px;
    line-height: 20px;
  }
}